###############################################################
# Mend Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
###########
# General #
###########
#Every subsequent scan attempt after the first needs APPEND so that we are not overriding the previous scan.
updateType=APPEND
projectName=MCP Context Forge
#log.level=info
#log.level=debug

#checkPolicies = true
#offline = true

python.path=python3.12
python.pipPath=pip3
python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveSetupFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true
# Only resolve pyproject.toml - prevents pip resolver from picking up docs/requirements.txt
python.requirementsFileIncludes=pyproject.toml

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################

includes = **/mcpgateway/** **/plugins/** pyproject.toml Containerfile
excludes = **/tests/** **/charts/** **/deploy/** **/deployment/** **/docs/** **/deployment/k8s/** ****/a2a-agents/** **/agent_runtimes/** **/infra/** **/plugin_templates/** **/scripts/** **/tools_rust/**
